body {
  padding: 50px;
  font-family: Helvetica, sans-serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

a,
small {
  font-size: 13px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

small {
  padding-top: 10px;
  display: block;
  color: #999;
  text-transform: initial;
}

img {
  margin-bottom: 20px;
  width: 120px;
  border-radius: 60px;
}

.separator {
  padding: 0 5px;
  color: #ccc;
  font-size: 12px;
}
